<div class="container">
  <h3><%= @user.email %></h3>
  <% unless @user.id == current_user.id %>
      <div id="follow_form">
        <% if current_user.following?(@user) %>
            <%= render 'unfollow' %>
        <% else %>
            <%= render 'follow' %>
        <% end %>
      </div>
  <% end %>
  <div class="row-fluid">
      <div class="span6">
        <h4>User's Sounds</h4>
        <div class="sound-item-box">
          <% @user.sounds.each do |sound| %>
              <div class="sound-item">
                <div class="sound-item-title"><%= link_to sound.title, "/sounds/#{sound.id}" %></div>
                <div class="pull-right">
                  <% RTagSound.find_all_by_sound_id(sound.id).each do |tag| %>
                      <span class="label label-info"><%= link_to tag.tag_title, "/tags/#{tag.tag_id}" %></span>
                  <% end %>
                </div>
                by <%= link_to sound.user.email, "/users/#{sound.user.id}" %>
              </div>
          <% end %>
        </div>
      </div>
      <div class="span6">
        <h4>User's Favored Sounds</h4>
        <div class="sound-item-box">
          <% @user.favored_sounds.each do |sound| %>
              <div class="sound-item">
                <div class="sound-item-title"><%= link_to sound.title, "/sounds/#{sound.id}" %></div>
                <div class="pull-right">
                  <% RTagSound.find_all_by_sound_id(sound.id).each do |tag| %>
                      <span class="label label-info"><%= link_to tag.tag_title, "/tags/#{tag.tag_id}" %></span>
                  <% end %>
                </div>
                by <%= link_to sound.user.email, "/users/#{sound.user.id}" %>
              </div>
          <% end %>
        </div>
      </div>
  </div>
</div>