<div class="container">
  <h3>Tag &ldquo;<%= @tag.title %>&rdquo;<span class="small">with <%= @tag.count %> related sounds</span></h3>

  <div class="sound-item-box">
    <% @sounds.each do |sound| %>
    <div class="sound-item">
      <div class="sound-item-title"><%= link_to sound.title, "/sounds/#{sound.id}" %></div>
      <div class="pull-right">
        <% RTagSound.find_all_by_sound_id(sound.id).each do |tag| %>
            <span class="label label-info"><%= link_to tag.tag_title, "/tags/#{tag.tag_id}" %></span>
        <% end %>
      </div>
      by <%= link_to sound.user.email, "/users/#{sound.user.id}" %>
    </div>
    <% end %>
  </div>
  <%= will_paginate @sounds %>

</div>