<h1>Listing sounds</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Description</th>
    <th>Location</th>
    <th>Path</th>
    <th>Username</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sounds.each do |sound| %>
  <tr>
    <td><%= sound.id %></td>
    <td><%= sound.title %></td>
    <td><%= sound.description %></td>
    <td><%= sound.location %></td>
    <td><%= sound.path %></td>
    <td><%= sound.username %></td>
    <td><%= sound.date %></td>
    <td><%= link_to 'Show', sound %></td>
    <td><%= link_to 'Edit', edit_sound_path(sound) %></td>
    <td><%= link_to 'Destroy', sound, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sound', new_sound_path %>
