<div class="container">

  <p id="notice"><%= notice %></p>

  <h3><%= @sound.title %><span class="small">with an id of #<%= @sound.id %></span></h3>
  <hr>
  <dl>
    <dt>Title</dt>
    <dd><%= @sound.title %></dd>

    <dt>Tags</dt>
    <dd>
      <% @tags.each do |tag| %>
      <span class="label label-info"><%= tag.tag_title %></span>
      <% end %>
    </dd>

    <dt>Description</dt>
    <dd><%= @sound.description %></dd>

    <dt>Location</dt>
    <dd><%= @sound.location %></dd>

    <dt>File Storage</dt>
    <dd><%= @sound.path.url %></dd>
  </dl>

  <%= link_to 'Edit', edit_sound_path(@sound), :class => 'btn btn-primary' %>
  <%= link_to 'Back', sounds_path, :class => 'btn' %>

</div>
