<!DOCTYPE html>
<html>
<head>
  <title>Soundmap</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true" %>
  <%= javascript_include_tag "https://raw.github.com/HPNeo/gmaps/master/gmaps.js" %>
  <%= javascript_include_tag "http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">Soundmap</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li class="">
            <a href="#">Explore</a>
          </li>
          <li class="">
            <a href="#">Sign Up</a>
          </li>
          <li class="">
            <a href="#">Sign In</a>
          </li>
          <li class="">
            <a href="#">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>


<footer class="footer">
  <div class="container">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>Proudly Designed and Built by <a href="./">SoundMap Team</a>.</p>
    <ul class="footer-links">
      <li><a href="#">How it works?</a></li>
      <li><a href="#">Contact us</a></li>
      <li><a href="#">Fork on Github</a></li>
    </ul>
  </div>
</footer>

</body>
</html>
